#section-services
  .wrapper
    background-color: rgba($lightest_blue, .01)

  h1
    color: $yellow

  article
    display: inline-block
    margin: 0 0 0 0
    padding: 0 0 0 3em
    position: relative
    vertical-align: top
    width: 33.333%
    +box-sizing( border-box )
    @media screen and ( max-width: 1279px )
      width: 50%



    h4
      margin: 0 0 0.5em 0
      font-weight: 50