//= require vendor/normalize
//= require vendor/tooltipster
//= require_self

@import bourbon
@import settings/fonts
@import settings/colors
@import settings/icons
@import settings/queries
@import settings/keyframes

*:focus
  outline: none

abbr[title]
  border-bottom: 0

a
  position: relative
  cursor: pointer
  text-decoration: none
  color: $orange

  &:active
    top: 1px

body,
input,
button,
select,
textarea
  font: 300 16px/1.5 $open-sans

b,
strong
  color: #000

p,
ul,
ol,
blockquote
  margin: 0 0 1.5em

  &:last-child
    margin: 0

ul,
ol
  padding: 0 0 0 1.25em

h1,
h2,
h3,
h4,
h5,
h6
  font:
    family: $roboto
    weight: 500

  &:first-child
    margin-top: 0

h1
  margin: 1.5em 0 0.75em
  font-size: 3.75em
  line-height: 1.2

h2
  font-size: 3
  line-height: 1.25
  margin: 1.5em 0 1em

nav
  font:
    family: $roboto
    weight: 400

body
  margin: 3.5em 0 0
  padding: 0
  background: #444
  color: #ccc

main
  min-height: 3.75em

  > section
    background: white
    color: #222
    min-height: 400px
    padding: 8em 0
    position: relative

    &:first-of-type
      padding-top: 11.5em // Compensating for sub-nav

.wrapper
  margin: 0 auto
  padding: 0 20px
  position: relative
  width: 1280px
  +box-sizing( border-box )
  +clearfix
  @media screen and ( max-width: 1279px )
    width: 1030px
  @media screen and ( max-width: 1030px )
    width: 760px

.tooltipster-default
  background: rgba( black, 0.8 )
  border-color: #111

  .tooltipster-content
    font:
      family: $open-sans
      size: 1.25em
      weight: 500
      line-height: 1.5
    padding: 0.5em 1em 0.65em

@import components/header
@import components/subnav
@import components/footer