//= require vendor/normalize
//= require vendor/tooltipster
//= require_self


@import bourbon
@import settings/fonts
@import settings/colors
@import settings/icons
@import settings/queries
@import settings/keyframes

*:focus
  outline: none

body
  margin: 0 0 0
  padding: 0
  background-color: rgba($lightest_blue, .05)

  &.index,
  &.company
    margin-top: 0
a
  position: relative
  cursor: pointer
  text-decoration: none
  color: $gray_blue


body,
input,
button,
select,
textarea
  font: 400 16px/1.5 Arial, Helvetica, sans-serif


h1
  color: $yellow
  font-size: 1.5em


h4
  margin: 0 0 0.5em 0
  font-weight: 50
  color: darken($gray_blue, 10%)

p,
ul,
ol,
blockquote
  margin: 0 0 1.5em

  &:last-child
    margin: 0

ul,
ol
  padding: 0 0 0 1.25em

main
  min-height: 3.75em

  > section
    padding: 0.5em 0
    position: relative


.wrapper
  margin: 0 auto
  padding: 0 20px
  position: relative
  width: 1280px
  +box-sizing( border-box )
  +clearfix
  @media screen and ( max-width: 1279px )
    width: 1030px
  @media screen and ( max-width: 1030px )
    width: 760px


@import components/header
@import components/subnav
@import components/footer
@import views/front
@import views/about

