.wrapper
  %p
    Aero Partners is not just another outsourced accounting/CFO firm. A depth of technical capabilities and a focus on business process improvement results in more sophisticated financial management with substantially less manual input. From basic ERP deployment to custom app development and data automation, we will streamline your financial and back-office operations so you can focus on building your business. 