body.about #section-capabilities
  .wrapper
    border-bottom: 2px solid lighten($lightest_blue, 25%)
    padding-bottom: 20px
  
  article
    display: inline-block
    margin: 0 0 1em
    padding: 0.5em 1.25em 0 50px
    position: relative
    vertical-align: top
    width: 50%
    +box-sizing( border-box )

    .desc
      font-size: .8em

  