body.index #section-hero
  padding: 3em 0 8em
  background: asset-data-uri( "bike3_crop.jpg" ) no-repeat 10%
  @media only screen and ( max-height: 640px ), only screen and ( max-width: 720px )
    padding: 3em 0 4em
  min-height: 15em
  margin-top: 0
    
  .wrapper
    > div
      float: right
      width: 40%
      margin: 0 5% 0 0
      margin-right: 0
      @media only screen and ( max-width: 840px )
        float: none
        width: auto
        margin: 0

    h4
      text-align: right
      font:
        size: 1.75em
        weight: 200
      margin: 0
      padding: 0
      color: white
      margin-top: 0
      @media only screen and ( max-width: 840px )
        margin-top: 1em

    .email
      text-align: right
      a
        display: inline-block
        background: $yellow
        border-radius: 5px
        color: $dark_blue
        font:
          size: 1.2em
          weight: 500
        padding: 0.5em 1.5em
        margin-top: 1em

        &:hover
          color: white
          background: lighten( $yellow, 5% )
        

