body.index #hero
  margin-top: 60px
  margin-bottom: 20px
  .wrapper
    background: asset-data-uri( "bike3_crop.jpg" ) no-repeat 50%
      size: 100% auto
    @media screen and ( max-width: 1030px )
      padding: 7em 0 6em
    min-height: 20em

    h1
      font:
        size: 2em
        weight: 400
      margin: 0
      padding: 0
      color: white
      letter-spacing: -1px
      position: absolute
      bottom: 40px
      right: 30px
      text-align: right