body.index #section-services
  background: white
  
  article
    display: inline-block
    margin: 0 0 0 0
    padding: 0 0 0 0
    text-align: center
    position: relative
    vertical-align: top
    width: 33.333%
    +box-sizing( border-box )
    @media screen and ( max-width: 1279px )
      width: 50%



