%section#section-hero
  .wrapper
    %div
      %h4 Financial and back-office services for high-growth business
      
      .email= mail_to 'info@aerofinancialpartners.com', 'Contact', target: '_blank'