%section#section-pitch
  .wrapper
    %p
      Aero Partners is not just another outsourced accounting/CFO firm. Our depth of technical capabilities, and a focus on business process, result in more sophisticated financial management with substantially less effort. We can do everything from basic bookkeeping and reporting to ERP deployment, custom app development and data automation. We will streamline your financial and back-office operations so you can focus on building your business. 