$hd_pad: 5px
$logo-width: 10px

body > header
  z-index: 9999
  top: 0
  left: 0
  right: 0
  margin: 0

  .wrapper
    padding: 0 20px
    height: 40px
    @media only screen and ( max-width: 720px )
      padding-right: 20px
  
  h1
    margin: 0
    padding-top: $hd_pad
    padding-bottom: $hd_pad
    color: $dark_blue
    position: absolute
    font-size: 2em
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif

  nav
    text-align: right
    line-height: 1

    a
      display: block
      padding: 1em
      color: $dark_blue
      border-top: 2px solid transparent
      +box-sizing( border-box )
      +transition-property( color, border-color )
      +transition-duration( 250ms )
      @media only screen and ( min-width: 721px )
        padding: 0.75em 1em 1em
        border-top: 2px solid transparent

      &:hover
        color: $yellow
        border-top-color: $yellow

    ul
      list-style: none
      margin: 0
      padding: 0

    li
      display: inline-block
      margin: 0
      padding: 0
      @media only screen and ( max-width: 720px )
        display: block

body.index          > header nav a.home,
body.about        > header nav a.about,
body.blog        > header nav a.blog,
  font-weight: 700
  color: darken( $dark_blue, 30% )
  border-top-color: $yellow