:plain
	<?xml version="1.0" encoding="utf-8"?>
	<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="991.399px" height="213.242px" viewBox="0 0 991.399 213.242" style="enable-background:new 0 0 991.399 213.242;"
		 xml:space="preserve">
	<style type="text/css">
	<![CDATA[
		#icon path { fill:#E36F1E; }
		#wordmark path { fill:#58595B; }
	]]>
	</style>
	<g id="icon">
		<g id="logo">
			<path class="st0" d="M155.249,96.848c-11.294-22.489-22.993-43.983-34.361-58.198c-4.538-2.9-8.886-4.718-13.042-5.445
				c10.579,17.056,21.112,40.051,31.891,63.458C144.881,97.022,150.06,97.163,155.249,96.848z"/>
			<path class="st0" d="M97.888,94c8.559-0.793,17.792,0.218,27.565,1.292c2.35,0.258,4.713,0.515,7.086,0.752
				c-0.978-1.753-1.953-3.494-2.925-5.22c-8.581-5.78-19.173-10.405-34.559-10.405c-25.118,0-55.609,46.345-75.655,82.683
				c2.455-3.957,5.076-8.013,7.85-12.074C44.031,126.447,69.908,96.601,97.888,94z"/>
			<path class="st0" d="M171.141,114.218c-2.103,0-4.078-0.208-5.967-0.562c1.363,2.787,2.717,5.566,4.06,8.324
				c2.795,5.733,5.564,11.418,8.291,16.93c2.548,1.064,5.125,1.656,7.743,1.656c2.169,0,4.274-0.358,6.294-0.959
				c-4.684-9.418-9.266-18.217-13.744-26.396C175.574,113.869,173.346,114.218,171.141,114.218z"/>
			<path class="st0" d="M179.306,112.73c4.834,8.812,9.45,17.729,13.75,26.386c11.542-4.198,19.896-16.122,19.997-16.269l0.187,0.129
				V77.402c-2.125,3.791-6.003,10.243-11.066,16.641C194.433,103.827,186.773,110.07,179.306,112.73z"/>
			<path class="st0" d="M34.824,131.752c-3.856,6.902-7.554,13.82-11.013,20.482c1.918-3.317,3.9-6.668,5.943-10.019
				c25.62-41.97,47.59-63.25,65.301-63.25c14.404,0,24.674,3.942,33.013,9.118c-1.81-3.192-3.611-6.326-5.401-9.382
				c-8.892-9.943-18.133-17.064-27.978-17.064C81.148,61.642,60.447,85.885,34.824,131.752z"/>
			<path class="st0" d="M10.244,175.998c7.502-18.139,17.562-41.266,28.651-63.523c20.521-41.187,38.116-66.812,52.522-76.573
				c-3.648-3.158-7.227-5.363-10.729-6.404C48.584,59.09,12.255,163.253,2.57,192.294C4.547,187.99,7.152,182.412,10.244,175.998z"/>
			<path class="st0" d="M79.016,29.086c-0.944-0.18-1.882-0.274-2.814-0.274c-25.397,0-56.755,100.159-71.316,152.12
				c5.937-17.223,15.688-44.195,27.19-70.963C49.638,69.104,65.349,42.055,79.016,29.086z"/>
			<path class="st0" d="M100.275,22.104c2.194,2.875,4.383,6.057,6.57,9.504c3.673,0.477,7.498,1.79,11.47,3.94
				C112.147,28.419,106.094,23.603,100.275,22.104z"/>
			<path class="st0" d="M92.538,36.9c-17.439,11.646-37.429,46.281-52.346,76.22c-6.892,13.832-13.38,27.995-19.108,41.092
				c21.143-41.129,52.446-94.02,73.605-94.02c8.701,0,16.843,5.18,24.641,12.89C110.076,57.704,101.117,44.748,92.538,36.9z"/>
			<path class="st0" d="M141.563,98.236c0.164,0.137,0.328,0.274,0.491,0.411c6.743,5.637,12.804,10.697,20.485,12.921
				c-2.174-4.438-4.371-8.889-6.583-13.312C151.137,98.585,146.334,98.516,141.563,98.236z"/>
			<path class="st0" d="M192.225,140.943c-2.216,0.672-4.543,1.072-6.957,1.072c-2.303,0-4.564-0.427-6.796-1.195
				c13.42,27.021,25.733,49.445,34.768,52.58v-7.431C206.025,169.677,199.017,154.654,192.225,140.943z"/>
			<path class="st0" d="M193.715,140.447c7.731,15.628,14.422,30.324,19.525,41.854v-57.27
				C210.653,128.384,203.357,136.917,193.715,140.447z"/>
			<path class="st0" d="M76.202,5.382c7.698,0,15.232,5.63,22.704,14.966c7.426,1.164,15.157,7.595,22.99,17.345
				c14.023,9.142,29.789,28.229,47.116,57.081c0.165-0.042,0.33-0.075,0.495-0.118c20.581-5.369,38.924-52.453,43.733-65.765V5.292
				c0-2.918-2.374-5.292-5.29-5.292H5.295C2.371,0,0,2.374,0,5.292v181.167C10.605,141.096,44.933,5.382,76.202,5.382z"/>
			<path class="st0" d="M133.399,97.586c-2.716-0.263-5.418-0.56-8.104-0.854c-9.698-1.064-18.856-2.071-27.273-1.289
				c-39.403,3.663-75.308,62.599-91.027,92.354C3.901,195.484,1.509,201.648,0,205.59v2.366c0,2.916,2.371,5.285,5.295,5.285H207.95
				c2.916,0,5.29-2.369,5.29-5.285v-1.63C185.906,196.332,158.758,143.159,133.399,97.586z"/>
			<path class="st0" d="M124.708,41.321c10.731,14.367,21.605,34.494,32.103,55.412c3.56-0.28,7.123-0.788,10.68-1.598
				C151.828,68.971,137.546,51.005,124.708,41.321z"/>
			<path class="st0" d="M213.24,198.298v-3.368c-9.822-2.82-22.359-25.752-36.779-54.896c-10.919-4.839-21.13-17.935-31.654-32.394
				C165.828,152.923,187.938,196.5,213.24,198.298z"/>
			<path class="st0" d="M157.511,98.131c2.311,4.62,4.603,9.271,6.87,13.904c2.113,0.469,4.349,0.732,6.76,0.732
				c2.017,0,4.007-0.312,5.962-0.863c-2.992-5.438-5.937-10.587-8.834-15.465C164.679,97.283,161.091,97.824,157.511,98.131z"/>
			<path class="st0" d="M169.873,96.058c-0.026,0.007-0.051,0.012-0.077,0.019c0.914,1.532,1.831,3.085,2.752,4.672
				c2.048,3.523,4.065,7.094,6.048,10.687c17.516-6.148,31.806-31.703,34.644-37.062V33.089c-2.341,6.213-6.15,15.668-10.969,25.326
				C191.161,80.684,180.26,93.348,169.873,96.058z"/>
			<path class="st0" d="M142.442,101.905c11.142,15.42,21.805,30.171,32.978,36.018c-2.445-4.96-4.941-10.08-7.488-15.308
				c-1.508-3.096-3.03-6.221-4.563-9.354c-8.614-2.146-15.257-7.662-22.182-13.452c0.152,0.33,0.304,0.66,0.457,0.991
				C141.909,101.168,142.176,101.537,142.442,101.905z"/>
		</g>
		<path id="tittle" class="st0" d="M842.454,89.445c-0.168,0.973-1.098,1.762-2.076,1.762h-18.41c-0.969,0-1.621-0.789-1.438-1.762
			l3.232-18.36c0.168-0.972,1.102-1.771,2.068-1.771h18.418c0.969,0,1.609,0.799,1.439,1.771L842.454,89.445z"/>
	</g>
	<g id="wordmark">
		<path class="st1" d="M830.715,155.977c-0.164,0.983-1.092,1.771-2.068,1.771h-18.404c-0.971,0-1.633-0.787-1.461-1.771
			l9.037-51.229c0.18-0.984,1.105-1.778,2.086-1.778h18.4c0.98,0,1.619,0.794,1.455,1.778L830.715,155.977z"/>
		<path class="st1" d="M778.012,103.235c15.406,0,25.701,12.488,22.986,27.899c-2.721,15.406-17.41,27.896-32.82,27.896l-16.885-0.04
			H651.104c-0.98,0-1.625-0.783-1.457-1.773l3.244-18.396c0.176-0.979,1.102-1.764,2.08-1.764h100.014l13.697,0.035
			c3.346,0,6.525-2.707,7.113-6.043c0.592-3.354-1.641-6.043-4.986-6.043l-87.605,0.104c-15.402,0-25.699-12.488-22.971-27.902
			c2.711-15.41,17.414-27.906,32.811-27.906l16.887,0.05H810.12c0.977,0,1.627,0.787,1.459,1.764l-3.25,18.409
			c-0.164,0.979-1.094,1.768-2.068,1.768H706.231l-16.539-0.047c-3.34,0-6.525,2.71-7.125,6.049c-0.58,3.338,1.648,6.056,4.998,6.056
			L778.012,103.235z"/>
		<path class="st1" d="M877.829,90.889h-22.443c-0.979,0-1.641-0.799-1.467-1.778l3.248-18.397c0.176-0.981,1.107-1.77,2.086-1.77
			l25.715,0.018h3.961c1.066,0,1.461,0.52,3.076,2.054l28.926,28.352l39.852-28.829c1.787-1.423,2.096-1.577,5.256-1.577h26.561
			c2.018,0,2.645,1.224,0.586,3.15l-57.438,41.478l42.654,41.287c1.033,1.043,0.857,2.814-1.436,2.814h-28.834
			c-1.541,0-2.072-0.328-4.002-2.226l-28.23-27.521l-38.064,27.521c-2.465,1.882-3.121,2.226-5.732,2.226h-27.398
			c-2.021,0-2.799-1.631-0.559-3.146l57.197-40.959l-23.494-22.763L877.829,90.889z"/>
		<path class="st1" d="M279.659,120.091v35.853c0,1.16-0.931,2.09-2.093,2.09h-21.761c-1.156,0-2.099-0.93-2.099-2.09V55.567
			c0-1.154,0.942-2.091,2.099-2.091h0.995h0.821h167.354c1.165,0,2.09,0.937,2.09,2.091V77.33c0,1.148-0.925,2.08-2.09,2.08H279.596
			l0.063-0.024v14.689l-0.182,0.064h139.705c1.142,0,2.08,0.926,2.08,2.08v21.771c0,1.156-0.938,2.094-2.08,2.094H279.477
			L279.659,120.091z"/>
		<path class="st1" d="M467.105,155.943c0,1.16-0.93,2.088-2.084,2.088h-21.767c-1.154,0-2.086-0.928-2.086-2.088V55.567
			c0-1.154,0.932-2.091,2.086-2.091h21.767c1.155,0,2.084,0.937,2.084,2.091V155.943z"/>
		<path class="st1" d="M615.043,125.175V55.567c0-1.154,0.947-2.091,2.102-2.091h21.764c1.158,0,2.086,0.937,2.086,2.091v100.376
			c0,1.16-0.928,2.088-2.086,2.088h-2.455l-16.826,0.098c-1.893-0.018-3.613-0.146-5.645-1.303L506.729,86.915l0.242,0.138v68.891
			c0,1.162-0.943,2.092-2.102,2.092h-21.762c-1.151,0-2.1-0.93-2.1-2.092V55.567c0-1.154,0.945-2.091,2.1-2.091h18.729l1.418-0.026
			c2.908,0,3.592,0.159,6.104,1.686l105.684,70.085L615.043,125.175z"/>
		<path class="st1" d="M982.938,152.637h-1.789v-0.601h4.297v0.601h-1.791v4.771h-0.717V152.637L982.938,152.637z"/>
		<path class="st1" d="M986.047,152.037h0.98l1.688,4.514l1.701-4.514h0.979v5.373h-0.68v-4.471H990.7l-1.678,4.471h-0.609
			l-1.678-4.471h-0.018v4.471h-0.68v-5.373H986.047z"/>
	</g>
	</svg>
