%section#section-personnel
  .wrapper
    %h1 Personnel

    .bio
      :markdown
        Bryan McGowan is an experienced engineer, technology manager and finance director. He started his career at Intel, where he managed the introduction and life cycle of some of the company's highest-volume chipset products. Since then, he has done stints in operations, finance and marketing at a variety of early and middle state technology companies. He holds a BS in Electrical and Computer Engineering and an MBA, both from Cornell University. 