body.blog

  .blogsumm
    margin-bottom: 20px

  .text, .link
    font-size: .8em

  a:hover
    color: $yellow

  .date
    font-style: italic
    font-size: 1em
    margin-bottom: 10px
    color: $dark_blue

  .text
    margin-bottom: 10px


  .article-date


  .article-text
    margin-top: 20px

