---
title: "Aero Financials"
has_hero: false
sections:
  - Hero
  - Pitch
  - Services
---

%main
  - current_page.data.sections.each do |s|
    %section{ id: "section-#{ s.dasherize }" }
      = partial "front/#{ s.underscore }"