---
title: "Aero Financials"
has_hero: false
sections:
  - Pitch
  - Services
---

%main
  = partial 'front/hero'


  - current_page.data.sections.each do |s|
    %section{ id: "section-#{ s.dasherize }" }
      = partial "front/sections/#{ s.underscore }"